*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

html,body{
 width: 100%;
 height: auto;

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #FAFAFA;
}
.card{
    display: block;
    height: auto;
    width: 368px;
    border-radius: 12px;
    box-shadow: 8px 10px 10px 5px rgba(8, 8, 8, 0.052);
}
.imgcont{
    padding: 16px;
}
.imgcont img{
    height: 152px;
    width: 100%;
    border-radius: 12px;
}
.caption{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 16px;
    border-radius: 15px;
    height: 20px;
    width: 60px;
    color: #883AE1;
    background-color: #E6D6FC;
}
h3{
    padding:16px 16px 6px 16px ;
    font-family:sans-serif;
    color: #20293A;
}
p{
    font-size: 1rem;
    line-height: 1.5rem;
    padding: 0 16px 0 16px;
    margin-bottom: 20px;
    color: rgba(0, 0, 0, 0.567);
    font-family:sans-serif;
    font-weight: 100;
}
.name{
    display: flex;
    justify-items: end;
    align-items:baseline;
    border-top: #20293a3a 1px solid;
    padding-bottom: 20px;
}
.name p{
    font-size: 0.9rem;
    margin: 20px 0 0 0;
}
