*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

html,body{
 width: 100%;
 height: auto;

}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}
.card{
    display: block;
    height: auto;
    width: 368px;
    border-radius: 12px;
    padding: 16px 16px 20px 16px;
    box-shadow: 8px 10px 10px 5px rgba(8, 8, 8, 0.066);
}
.card img{
    height: 152px;
    width: 100%;
    border-radius: 6px;
}
.caption{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    border-radius: 15px;
    height: 20px;
    width: 60px;
    color: rgb(107, 0, 128);
    background-color: rgb(252, 235, 254);
}
h3{
    margin: 16px 0 0 0;
    font-family:sans-serif;
}
p{
    font-size: 1rem;
    margin: 6px 0 20px 0;
    color: rgba(0, 0, 0, 0.477);
    font-family:sans-serif;
    font-weight: 100;
}
.name{
    display: flex;
    justify-items: end;
    align-items:baseline;
    margin: 20px  0 0 0;
}
.name p{
    font-size: 0.9rem;
    margin: 20px 0 0 0;
}
